{% extends 'index.html' %}

{% block content %}

<h2 class="text-center mt-3">About</h2>

<p class="about text-center m-3">Hi there, I'm a self-taught web developer with a passion for creating amazing websites and
    applications. I've spent countless hours learning and practicing various programming languages, frameworks, and libraries, 
    and I'm always eager to tackle new challenges.</p>

<p class="about text-center m-3">As a self-taught developer, I understand the value of mentorship and guidance. That's why I'm also passionate about helping
   others learn and grow in the field. Whether you're just starting out or looking to improve your skills, I'm here to offer
   support and advice every step of the way.</p>
    
<p class="about text-center m-3">Despite being self-taught, I hold several leading industry certifications, including cerifiications by Google, IBM, and Udacity.
   These certifications demonstrate my commitment to excellence and my ability to apply industry best practices to all of my
    work.</p>
    
<p class="about text-center m-3"> So if you're looking for a dedicated and passionate web developer who can also provide mentorship and guidance, look no
further. Let's work together to bring your ideas to life and achieve your goals!</p>

 <h2 class="text-center m-2">Certificates</h2>

    <section class="certs">
        <div class="row">
            <img class="col-sm-12 col-md-4 col-lg-2" src="../static/Images/Untitled design/Untitled design (5).svg" width="100%" alt="">
            <img class="col-sm-12 col-md-4 col-lg-2" src="../static/Images/Untitled design/1.svg"  width="100%" alt="">
            <img class="col-sm-12 col-md-4 col-lg-2" src="../static/Images/Untitled design/2.svg" width="100%" alt="">
            <img class="col-sm-12 col-md-4 col-lg-2" src="../static/Images/Untitled design/3.svg" width="100%" alt="">
            <img class="col-sm-12 col-md-4 col-lg-2" src="../static/Images/Untitled design/4.svg" width="100%" alt="">
            <img class="col-sm-12 col-md-4 col-lg-2" src="../static/Images/Untitled design/5.svg" width="100%" alt="">
        </div>
    </section>

    
      
    

{% endblock %}