<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesignNDev</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <!-- MODAL -->
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content bg-dark">
            <div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
           <div class="hamburger-items ">
               <ul class="text-center list-unstyled">
                   <!-- <li>Blog</li> -->
                   <li><a href="/portfolio"> Portoflio </a></li>
                   <li><a href="/about"> About</a></li>
                   <li></li>
               </ul>
           </div>
          </div>
        </div>
      </div>
    <!-- END MODAL -->

    <header class="">
        <h1 class="d-inline"><a href="/">DesignNDev.com</a> </h1>
        <i class="m-2 hamburger fa-solid fa-bars float-right"></i>
    </header>

    {% block content %}
    <!-- CALL TO ACTION -->
    <section  id="call-to-action" class="text-center mx-auto rounded">
        <p class="m-3 p-2">
            If you're a business owner with only a Facebook presence or a professional without a website, it's time to take action!
            Having a strong online presence is crucial for reaching your target audience and growing your business or professional
            network. Don't miss out on potential customers or opportunities by limiting yourself to just one platform. Take the next
            step and invest in a website or expand your online presence beyond Facebook. With the right strategy and tools, you can
            make a big impact and see real results. Don't wait any longer, take action today!
        </p>
    </section>
    <!-- END CALL TO ACTION -->

    <!-- WEB SERVICES -->
    <h2 class="text-center">Web Services</h2>

    <section id="web-services" class="info text-center">

        <img src="../static/Images/webservices.svg" class="col-md-6 image-fluid mx-auto"  width="100%" alt="web development graphic">
                
         <div class="dev-info d-md-float-right d-lg-inline">
            <h4 class="">Website Development</h4>
            <p class="m-4">
                Using the latest web development technologies and best practices, I bring your website design to life with clean,
                efficient code that ensures optimal performance and functionality. I create responsive, mobile-friendly websites that
                look great on any device and deliver an exceptional user experience.
            </p>

            <h4 class="">Website Maintenance</h4>
            <p class="m-3">
                After your website is launched, I offer ongoing website maintenance and support to ensure that it remains up-to-date,
                secure, and optimized for search engines. From regular backups and software updates to performance optimization and
                security monitoring, I take care of the technical details so you can focus on your business.
            </p>

            <h4 class="">Custom Web Development</h4>
            <p class="m-3 pb-3">
                If you have a unique web development project that requires specialized expertise, I can help. From building custom web
                applications to integrating third-party APIs and platforms, I have the skills and experience to deliver custom web
                development solutions that meet your specific needs.
            </p>
        </div>
         <img src="../static/Images/web-prices.svg" class="col-md-6 col-lg-4 image-fluid d-lg-block mx-auto" width="100%" alt="web development graphic">
         <button class="btn btn-primary d-block mx-auto"><a href="#form"> Get Quote</a></button>
    </section>
    <!-- END WEB SERVICES -->

    <!-- MENTORING -->
    <h2 class="text-center mt-5">Mentoring</h2>
    <section id="mentoring" class="info text-center">
        <img src="../static/Images/mentoring2.svg" class="img-fluid col-md-6 p-0" width="100%" alt="a web development infographic">
        
        <div class="mentoring-info text-center">
            <p class="m-3">
                And if you're looking to level up your web development skills, I also offer personalized mentoring services.
                With my years of experience and deep understanding of the latest web development trends, I can help you learn the
                skills you need to succeed online. From coding fundamentals to advanced web development techniques, I'll guide you
                every step of the way.

                So why wait? Contact me today to learn more about my web development and mentoring services and how I can help you
                achieve your online goals!
            </p>
        </div>
        <div>
        <img src="../static/Images/webprices-2.svg" class="col-md-6  col-lg-4 img-fluid" width="100%" alt="">
        <!-- <button class="btn btn-primary"><a href="#form">Get Started</a> </button> -->
        </div>
    </section>
    <!-- END MENTORING -->
    
    <section id="form" class="info">
        <h2 class="text-center m-3">Contact Me</h2>

        <form class="text-center rounded col-md-6 p-3 mx-auto" action="mailto:recipient@example.com" method="post" enctype="text/plain">
            <label for="subject">Subject:</label><br>
            <input type="text" id="subject" class="form-control" name="subject"><br>
            <label for="message">Message:</label><br>
            <textarea id="message" class="form-control" name="message"></textarea><br>
            <input class="btn btn-primary m-3" type="submit" value="Send">
        </form>
       
    </section>

    {% endblock %}

    <footer class="text-center">
        <div>
            <a href="https://www.instagram.com/design_n_dev/"><img src="../static/Images/instagram-2016-5.svg" class="m-2" height="50px" width="50px" alt="instagram logo"></a>
            <!-- <a href="https://www.fiverr.com/fourmarz"><img src="../static/Images/fiverr-1.svg" class="m-2h" eight="50px" width="50px" alt="fivver logo"></a> -->
        </div>
        <span>DesignNDev.com &copy; 2023</span>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/app.js"></script>       
</body>
</html>