{% extends 'index.html' %}

{% block content %}

<h2 class="text-center mt-3">Portfolio</h2>

<section>
    <div class="project row align-items-center text-center">
      <div class="col-md-6">
        <img class="img-fluid" src="../static/Images/Untitled design/Untitled design (6).svg" alt="">
      </div>
      <div class="col-md-6 text-center">
        <p class="m-3">Fyyur is a musical venue and artist booking site that facilitates the discovery and bookings of shows
            between local performing artists and venues. This site lets you list new artists and venues, discover them, and
            list shows with artists as a venue owner. <a href="https://github.com/0silverback0/fyyur">View on Github</a>
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="project row align-items-center text-center">
      <div class="col-md-6">
        <img class="img-fluid" src="../static/Images/Untitled design/Untitled design (8).svg" alt="">
      </div>
      <div class="col-md-6 text-center">
        <p class="m-3">This is a fitness website template. Using HTML, CSS, and JS. This can be customized to the clients liking
            and will look great on all sizs devices. A backend can be easily added to this template to capture leads and provide
            more functionality. <a href="https://0silverback0.github.io/fitness-projects/">View Live Site</a>
        </p>
      </div>
    </div>
  </section>
  

{% endblock %}